@font-face {
  font-family: 'BrandonBody';
  src: url('fonts/BrandonGrotesque-Regular.eot');
  src: url('fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
       url('fonts/BrandonGrotesque-Regular.woff') format('woff'),
       url('fonts/BrandonGrotesque-Regular.ttf') format('truetype'),
       url('fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg'),
       url('fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BrandonTitle';
  src: url('fonts/BrandonGrotesque-Medium.eot');
  src: url('fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
       url('fonts/BrandonGrotesque-Medium.woff') format('woff'),
       url('fonts/BrandonGrotesque-Medium.ttf') format('truetype'),
       url('fonts/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg'),
       url('fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* Webfonts: Copyright © Letters From Sweden. All rights reserved. To obtain a license, please see: https://lettersfromsweden.se */

@font-face {
  font-family: 'EksellDisplayWebMedium';
  /*src: url('fonts/EksellDisplayWeb-Medium.eot');*/
  src: url('fonts/EksellDisplayWeb-Medium.woff2') format('woff2')/*,
       url('fonts/EksellDisplayWeb-Medium.woff') format('woff')*/;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSansBold';
  src: url('fonts/Gill_Sans_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSansLight';
  src: url('fonts/Gill_Sans_Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.myDiv {
  /*text-align: center;*/
  text-align: left;
}

.dim {
  position: absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.5;
}

body {
    background-size: 100%;
    background-size: cover;
}

.chart {
  -webkit-transform: translate(-50%, 0);
  position: absolute;
  left: 50%;
  top: 50%;
}

.pledgeCount {
  -webkit-transform: translate(-50%, 0);
  position: absolute;
  left: 50%;
  top: 50%;
}
